<main class="animated fadeIn">
    
  <section fxLayout='row wrap' fxLayoutAlign="center start" fxLayoutGap="10px">
      <h1 fxFlexFill class="mat-toolbar mat-primary mat-h1 heading-1 ">Дев'ятниці</h1>
  
    <div fxFlex="100" fxFlex.md="50%" fxFlex.gt-md="33%">
        <mat-card>
            <mat-card-title>
                <mat-list routerLink="/childborn/child-born" routerLinkActive="active">
                    <mat-grid-list cols="6" rowHeight="100px" gutterSize="10px">
                        <mat-grid-tile [colspan]="3">
                            <img src="/assets/img/img001.jpg" alt="діти" class="img-item">
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="3">
                          <h5>Дев'ятниця <br> за ненароджену дитину</h5>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-list>
            </mat-card-title>
        </mat-card>
    </div>
  </section>
  
  <footer fxLayout='row' fxLayoutAlign="end" class="mt-30 animated fadeIn animatedDelay">
    <div fxFlex="20%" fxFlex.sm="15%" fxFlex.gt-sm="10%" fxFlexAlign="start">
      <button mat-fab color="primary" routerLink="/index" routerLinkActive="active">
        <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
        </svg>
      </button>
    </div>
  </footer>

  </main>